.somePicture {
    height: 200px;
    width: auto;
}


/*
    Good artists borrow, great artists steal.
    /////////////////////////////////////////////////////

    This quote was favorite of Steve Jobs but he but he was probably (mis)quoting Pablo Picasso who said "Lesser artists borrow; great artists steal" – who in turn might be rephrasing Igor Stravinsky, but both sayings may well originate in T. S. Eliot's dictum: "Immature poets imitate; mature poets steal; bad poets deface what they take, and good poets make it into something better, or at least something different. The good poet welds his theft into a whole of feeling which is unique, utterly different than that from which it is torn."

    The origins of this quote itself is an example of great artists stealing.

    I did steal this quote from:

    https://www.uvu.edu/arts/applause/posts/stealing.html

    And of course that web site stole it from somewhere else.

    The point is that there is plenty of "inspiration" on the web for great styles. For example, check out:

    https://projects.verou.me/css3patterns/ by Lea Verou


    Try out some of CSS patterns as a background of the body, or of the other containers.
*/
body {
    background:
        radial-gradient(black 3px, transparent 4px),
        radial-gradient(black 3px, transparent 4px),
        linear-gradient(#fff 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
        #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.container {
    background: white;
    font-size: 1.4rem;
    /* padding: 20px 40px; */

}

.h3 {
    color: rgb(255, 94, 0);
    text-align: center;
}

.walletInfo-container-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-bottom: 50px;
}

.button {
    display: inline-block;
    border-radius: 4px;

    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 250px;
    height: 85px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 80px;
    margin-top: 10px;
    margin-right: 80px;
    opacity: 0.6;
    position: relative;
}

.button:hover {
    opacity: 1
}


.button1 {
    background-color: #f4511e;
}

.button2 {
    background-color: #2239b9;
}



/* BINANCE INFO */

.binanceInfo-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: 0.2s;
}

.binanceInfo-image {
    /* cursor:pointer; */
    /* transition:0.2s; */
    /* border:transparent solid; */
    width: 100%;
    height: auto;
}

.binanceInfo-image:hover {
    /* border: #bcbed2 solid; */
}